* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: cover;
}   

section {
    background-color: rgb(226, 204, 204);
    width: 30%;
    
}

 